<header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">SoftUni Forum</span></p>
      </div>
      <div class="mini-navbar">
        <ul>
          <ng-container *ngIf="isLoggedIn; else loggedOut">
            <li>
              <a [routerLink]="'profile'">{{username}}'s profile</a>
            </li>
            <li>
              <a [routerLink]="'logout'">Logout</a>
            </li>
          </ng-container>
          <ng-template #loggedOut>
            <li>
              <a [routerLink]="'login'">Login</a>
            </li>
            <li>
              <a [routerLink]="'register'">Register</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="'home'">Home</a>
        </li>
        <li>
          <a [routerLink]="'themes'">Themes</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a [routerLink]="['themes', 'new']">New Theme</a>
        </li>
      </ul>
    </nav>

  </header>