<div class="container">
  <div class="profile"><img src="assets/profile.png" alt="default user">
    <h3>User Info:</h3>
    <form [formGroup]="profileForm" (ngSubmit)="editProfileHandler()">
      <div class="flex">
        <p>Username: </p>
        <p *ngIf="!isEdit">{{user?.username}}</p>
        <input *ngIf="isEdit" type="text" id="username" formControlName="username">
      </div>
      <app-form-error *ngIf="isEdit" [group]="profileForm" controlName="username"></app-form-error>
      
      <div class="flex">
        <p>Email: </p>
        <p *ngIf="!isEdit">{{user?.email}}</p>
        <input *ngIf="isEdit" type="email" id="email" formControlName="email">
      </div>
      <app-form-error *ngIf="isEdit" [group]="profileForm" controlName="email"></app-form-error>
      
      <div class="flex">
        <p>Phone: </p>
        <p *ngIf="!isEdit">{{user?.tel}}</p>
        <ng-container *ngIf="isEdit">
          <select id="select-tel" class="tel" formControlName="selectTel">
            <option value="+359">+359</option>
          </select>
          <input type="text" id="tel" value="885 888 888" formControlName="tel">
        </ng-container>
      </div>
      <app-form-error *ngIf="isEdit" [group]="profileForm" controlName="selectTel"></app-form-error>
      <app-form-error *ngIf="isEdit" app-form-error [group]="profileForm" controlName="tel"></app-form-error>

      <button type="button" (click)="toggleEdit()">{{isEdit ? 'Cancel' : 'Edit'}}</button>
      <button type="submit" *ngIf="isEdit">Save</button>
    </form>
  </div>
</div>