<app-homepage *ngIf="!isLoggedIn"></app-homepage>
<div class="container" *ngIf="theme">
  <!-- theme content  -->
  <div class="theme-content">
    <!-- theme-title  -->
    <div class="theme-title">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <h2>{{theme.themeName}}</h2>
          <p>Date: <time>{{theme.created_at | date: 'short'}}</time></p>
        </div>
        <div class="subscribers">
          <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
          <!-- <button class="subscribe">Subscribe</button>
                  <button class="unsubscribe">Unsubscribe</button> -->
        </div>
      </div>
    </div>
    <!-- comment  -->
    <app-theme-details-comment
      *ngFor="let post of posts"
      [isLoggedIn]="isLoggedIn"
      [post]="post">
    </app-theme-details-comment>
    <app-theme-create-comment
      *ngIf="isLoggedIn"
      [username]="username">
    </app-theme-create-comment>

  </div>
</div>